pytz>=2016
requests>=2.18
numpy>=1.13
pandas>=0.20
protobuf==3.2.0
configparser>=3.5
future>=0.15.0
# backport of concurrent.futures
futures>=3.0.0; python_version == "2.7"
# CLI
docopt>=0.6
psutil>=5.4
